RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} \.(gif|jpg|png)$  [NC]
RewriteRule ^(.*)$ ../demo/demoImageWatermark.php?image=../images/$1&watermark=../images/zjmainstay.cn.watermark.single.png&place=BOTTOM_RIGHT&opacity=15&repeat=0&margin=0 [L]
